@import '../variables';

.header {
	border-bottom: 1px solid $gray-line;
	padding: 20px 0;
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	.container {
		display: flex;
		align-items: center;
		background-color: #fff;
		gap: 30px;
		flex: 1 1 100%;
		a {
			&:first-child {
				flex: 1 1 auto;
			}
		}

		@media (max-width: 850px) {
			flex-wrap: wrap;
		}
	}

	&__logo {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		@media (min-width: 550px) and (max-width: 670px) {
			max-width: 230px;
		}

		img {
			margin-right: 15px;
			width: 38px;
		}

		h1 {
			color: #181818;
			font-size: 24px;
			letter-spacing: 1%;
			text-transform: uppercase;
			font-weight: 800;
		}

		p {
			color: #7b7b7b;
			@media (max-width: 470px) {
				display: none;
			}
		}
	}

	&__nav {
		display: flex;
		gap: 20px;
	}

	&__cart {
		@media (min-width: 750px) {
			min-width: 160px;
		}
		@media (max-width: 470px) {
			span {
				&:first-child {
					display: none;
				}
			}
			.button {
				min-width: 0;
			}
			.button__delimiter {
				display: none;
			}
		}
	}
}
