.Search {
	flex: 0 1 500px;
	display: flex;
	align-items: center;
	border: 3px solid #f3f3f3;
	border-radius: 5px;
	padding: 4px 10px;
	@media (max-width: 750px) {
		order: 3;
		max-width: 400px;
		border: none;
		flex: 0 0 auto;
	}

	svg {
		width: 25px;
		height: 25px;
		@media (max-width: 750px) {
			cursor: pointer;
		}
	}

	input {
		padding-left: 10px;
		margin-left: 10px;
		height: 38px;
		border: none;
		border-bottom: 1px solid #f3f3f3;
		color: #c0c0c0;
		@media (max-width: 750px) {
			display: none;
		}
	}
}

// .visible {
// 	border: 3px solid #f3f3f3;

// 	input {
// 		display: block;
// 	}
// 	svg {
// 		width: 25px;
// 		height: 25px;
// 		margin-right: 10px;
// 		@media (max-width: 750px) {
// 			cursor: pointer;
// 		}
// 	}
// }
